{% extends "base.html" %}
{% load i18n %}
{% block head %}
    {{ block.super }}

    <script type="text/javascript">


setTimeout('location.replace("/")', 6000);
/*Изменить текущий адрес страницы через 6 секунды (6000 миллисекунд)*/

</script>


{% endblock %}


{% block title %} {% trans 'Done' %} {% endblock %}

{% block main %}
<section style="height: 800px">
     <h2 class="lk__title"> {% trans 'Operation completed successfully!' %} <br> {% trans 'You will now be redirected to the main page' %} </h2>
        <a href="/">{% trans 'click here if you don't want to wait' %}</a>
</section >

{% endblock %}