{% extends "base.html" %}

{% block head %}
    {{ block.super }}

    <script type="text/javascript">

setTimeout('location.replace("/")', 6000);
/*Изменить текущий адрес страницы через 6 секунды (6000 миллисекунд)*/

</script>


{% endblock %}


{% block title %} Успешно {% endblock %}

{% block main %}
<section style="height: 800px">
     <h2 class="lk__title">Операция выполнена успешно! <br> Сейчас Вы будете перенаправлены на главную страницу</h2>
        <a href="/">нажмите сюда, если не хотите ждать</a>
</section >

{% endblock %}