<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% load static %}
     <link rel="stylesheet" href="{% static "css/normalize.css" %}">
      <link rel="stylesheet" href="{% static "css/style_login.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">


    <title>Успешно</title>
</head>
<body>

 <header> <h1 class="visually-hidden"> Успешно! </h1>
        <div class="header">
            <div class="header__nav">
                <ul class="header__menu">
                    <li class="header__list">
                        <a href="/" class="links header__links"><img class="logo" src="{% static 'img/LOGO1.png' %}" alt="logo"></a>
                    </li>

                    <li class="header__list">
                        <div class="header__login">
                            <ul class="header__login-menu">
                                <li class="header__login-list"><a href="/admin/" class="links header__links">Админка (для удобства)</a></li>

                            </ul>
                         </div>
                    </li>

                </ul>
            </div>

        </div>
   </header>


<section style="height: 800px">
     <h2 class="lk__title">Операция выполнена успешно! Сейчас Вы будете перенаправлены на главную страницу</h2>
        <a href="/">нажмите сюда, если не хотите ждать</a>
</section >


 <footer class="footer">
    <div class="footer-conteiner">
      <div class="footer__content">
        <a href="/" class="links header__links"><img class="logo" src="{% static 'img/LOGO1.png' %}" alt="logo"></a>

      </div>
    </div>
 </footer>
</body>
</html>