{% extends "base.html" %}
{% load i18n %}
{% block title %} LOGIN {% endblock %}

{% block main %}
<section>
<div class="login_wrapper">
    <form method="post" class="login_form">
        {% csrf_token %}
        <p class="login">
             <label class="label" > {% trans 'Login:' %}</label>
            {{ form.username }}
{#            <input type="text" name="username" required id="id_username" placeholder="Логин" class="input input_username">#}
        </p>

        <p class="password">
            <label class="label">{% trans 'Password' %}</label>
            {{ form.password }}
{#            <input type="password" name="password" required id="id_password" placeholder="Пароль" class="input input_password">#}

        </p>


        <button type="submit" class="Btn Btn_login" >{% trans 'enter' %}</button>
        <p class="label_errors" > {{ my_errors }}</p>
           <a class="login" style="text-align: center; margin-top: 15px" href="{% url 'restore_password' %}" >{% trans 'restore password' %}</a>
    </form>

</div>
</section>


{% endblock %}