{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans 'Edit profile' %} {% endblock %}


{% block main %}
 <section class="content content_profile_edit" style="height: 600px">
 <h2 class="lk__title">{% trans 'Edit data' %}, <br> {{ user_curent.username }}</h2>
       <div class="profile">
    <div class="lk_content lk_edit_content" style="max-height: none">
       <form method="post">
    {% csrf_token %}
    <p class="login">
         <label class="label" > {% trans 'You name' %} {{ request.user.first_name }}</label>
        <input type="text" name="name" maxlength="100" required id="id_name" placeholder="введите новое" class="input input_name">
    </p>
        <p class="login">
             <label class="label" > {% trans 'You last name' %} {{ request.user.last_name }}</label>
            <input type="text" name="last_name" maxlength="100" required id="id_last_name" placeholder="введите новое" class="input input_name">
        </p>
     <div class="edit__btn" style="margin-bottom: 0" >
        <button type="submit"  class="link_edit" >{% trans 'edit data' %}</button>
    </div>
        </form>
    </div>
    <div class="lk_avatar">
        {% if avatar_link %}
        <img src="{{ avatar_link }}" alt="аватарка" class="img_avatar">
        {% endif %}
    </div>
</div>
 </section>

{% endblock %}

