{% extends "base.html" %}

{% block title %} Профиль {% endblock %}


{% block main %}
 <section class="content">
 <h2 class="lk__title">Это Ваш личный кабинет, {{ user_curent.first_name }}</h2>
       <div class="profile">
    <div class="lk_content">
        <p class="lk__description"> Ваше логин: {{ user_curent.username }}</p>
        <p class="lk__description"> Ваше имя: {{ user_curent.first_name }} </p>
        <p class="lk__description"> Ваша фамилия: {{ user_curent.last_name }} </p>
        <p class="lk__description"> Ваш mail: {{ user_curent.email }} </p>
        <p class="lk__description"> Ваш телефон: {{ user_curent.profile.phone }} </p>
        <p class="lk__description"> Ваш пол: {{ user_curent.profile.gender }} </p>
    </div>
    <div class="lk_avatar">
        {% if avatar_link %}
        <img src="{{ avatar_link }}" alt="аватарка" class="img_avatar">
        {% endif %}
    </div>
</div>
    <div class="edit__btn">
        <a href="{% url 'profile_user_edit' %}" class="link_edit" >Редактировать профиль</a>
    </div>

   </section>

{% endblock %}