{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans 'Profile' %} {% endblock %}


{% block main %}
 <section class="content">
 <h2 class="lk__title">{% trans 'You secret data' %} {{ user_curent.first_name }}</h2>
       <div class="profile">
    <div class="lk_content">
        <p class="lk__description"> {% trans 'You login:' %} {{ user_curent.username }}</p>
        <p class="lk__description">{% trans 'You name:' %} {{ user_curent.first_name }} </p>
        <p class="lk__description"> {% trans 'You lastname' %} {{ user_curent.last_name }} </p>
        <p class="lk__description"> {% trans 'You email:' %} {{ user_curent.email }} </p>
        <p class="lk__description"> {% trans 'You tel' %}{{ user_curent.profile.phone }} </p>
        <p class="lk__description"> {% trans 'You gender' %} {{ user_curent.profile.gender }} </p>
    </div>
    <div class="lk_avatar">
        {% if avatar_link %}
        <img src="{{ avatar_link }}" alt="аватарка" class="img_avatar">
        {% endif %}
    </div>
</div>
    <div class="edit__btn">
        <a href="{% url 'profile_user_edit' %}" class="link_edit" >{% trans 'Edit profile' %}</a>
    </div>

   </section>

{% endblock %}