{% extends "base.html" %}

{% block title %} Регистрация {% endblock %}

{% block main %}
 <section class="content">
<div class="login_wrapper login_wrapper_register">
  <h3 class="title__blog"> Регистрация нового пользователя</h3>
    <form method="post" enctype="multipart/form-data" class="register_form">
        {% csrf_token %}
        <p class="login">
             {{ form.username.errors }}
             <label class="label" for="id_username"> Ваш логин:</label>
            {{ form.username }}
{#            <input type="text" name="username" required id="id_username" placeholder="Логин" class="input input_username">#}
        </p>
        <p class="password">

            <label class="label"> Ваш пароль:</label>
            <input type="password" name="password1" required id="id_password1" placeholder="Пароль" class="input input_password">
        </p>
        <p class="password">
            <label class="label"> Повторите пароль:</label>
            <input type="password" name="password2" required id="id_password2" placeholder="Еще раз пароль" class="input input_password">
        </p>
            {{ form.password2.errors }}
           {{ form.non_field_errors }}

        <p class="login">
             <label class="label" > Ваше имя:</label>
            <input type="text" name="first_name" maxlength="30" id="id_first_name" placeholder="Имя (необезательно)" class="input ">
        </p>

         <p class="login">
             <label class="label" > Ваша фамилия:</label>
            <input type="text" name="last_name" maxlength="30"  id="id_last_name" placeholder="Фамилия (необезательно)" class="input ">
        </p>

         <p class="login">
             <label class="label" > Ваша mail:</label>
            <input type="email" name="email"  id="id_email" placeholder="email (необезательно)" class="input" data-validate-field="email">
        </p>

           <p class="login">
             <label class="label" > Выберите пол:</label>
            {{ form.gender }}
        </p>

         <p class="login">

             <label class="label" > Ваша телефон:</label>

{#           это если лень писать в js     data-inputmask="'mask': '+7(999)-999-99-99'"#}
            <input type="tel" name="phone"    id="id_phone" placeholder="Телефон (необезательно)" class="input">
        </p>
        {{ form.phone.errors }}

         <p class="login">
             <label class="label" > Аватарка:</label>
             {{ form.avatar }}
        </p>

        <button type="submit" class="Btn Btn_login" >Зарегистрироваться</button>
        {{ form.errors }}

    </form>
</div>
</section>

{% endblock %}


