{% extends "base.html" %}
{%  load i18n %}

{% block title %} {% trans 'Register' %}{% endblock %}

{% block main %}
 <section class="content">
<div class="login_wrapper login_wrapper_register">
  <h3 class="title__blog"> {% trans 'Register new user' %}</h3>
    <form method="post" enctype="multipart/form-data" class="register_form">
        {% csrf_token %}
        <p class="login">
             {{ form.username.errors }}
             <label class="label" for="id_username"> {% trans 'You login' %}</label>
            {{ form.username }}
{#            <input type="text" name="username" required id="id_username" placeholder="Логин" class="input input_username">#}
        </p>
        <p class="password">

            <label class="label"> {% trans 'You password:' %}</label>
            <input type="password" name="password1" required id="id_password1" placeholder= "{% trans 'password' %}" class="input input_password">
        </p>
        <p class="password">
            <label class="label"> {% trans 'You password2:' %}</label>
            <input type="password" name="password2" required id="id_password2" placeholder="{% trans 'password' %}" class="input input_password">
        </p>
            {{ form.password2.errors }}
           {{ form.non_field_errors }}

        <p class="login">
             <label class="label" >{% trans 'You name:' %}</label>
            <input type="text" name="first_name" maxlength="30" id="id_first_name" placeholder="{% trans 'name' %})" class="input ">
        </p>

         <p class="login">
             <label class="label" > {% trans 'You last name:' %}</label>
            <input type="text" name="last_name" maxlength="30"  id="id_last_name" placeholder="{% trans 'last name' %})" class="input ">
        </p>

         <p class="login">
             <label class="label" > {% trans 'You email:' %}</label>
            <input type="email" name="email"  id="id_email" placeholder="{% trans 'email' %}" class="input" data-validate-field="email">
        </p>

           <p class="login">
             <label class="label" > {% trans 'Select gender' %}</label>
            {{ form.gender }}
        </p>

         <p class="login">

             <label class="label" > {% trans 'You tel:' %}</label>

{#           это если лень писать в js     data-inputmask="'mask': '+7(999)-999-99-99'"#}
            <input type="tel" name="phone"    id="id_phone" placeholder="{% trans 'tel' %}" class="input">
        </p>
        {{ form.phone.errors }}

         <p class="login">
             <label class="label" > {% trans 'Load avatar img' %}</label>
             {{ form.avatar }}
        </p>

        <button type="submit" class="Btn Btn_login" >{% trans 'Register' %}</button>
        {{ form.errors }}

    </form>
</div>
</section>

{% endblock %}


