{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans 'Restore password' %} {% endblock %}

{% block main %}
 <section class="content">
<div class="login_wrapper">
    <form method="post" class="login_form">
        {% csrf_token %}
{#        <p class="login">#}
{#            {{ form.username.errors }}#}
{#             <label class="label" > Ваш логин:</label></p>#}
{#            {{ form.username }}#}


            <p class="login">
                  {{ form.non_field_errors }}
             <label class="label" > {% trans 'You email user restore' %}</label> </p>
            {{ form.email }}


        <button type="submit" class="Btn Btn_login" >{% trans 'Restore' %}</button>


    </form>
</div>
</section>

{% endblock %}


