{% extends 'base.html' %}
 {%  load i18n %}
{% load static %}


{% block bodystart %}
    <div class="container avtorization">
{% endblock %}


{% block main %}

        <main class="auth-block">
            <div class="login-block log__password_complete">
                <div class="log-in-txt">

                     <span class="log-in new_password_log">{% trans 'Введите новый пароль' %}</span>

                </div>

                {% if validlink %}

                    <form action="." method="post">
                        {% csrf_token %}

                        <p>{{ form.new_password1 }}</p>
                        <p>{{ form.new_password2 }}</p>
                        {{ form.new_password2.errors }}

                        <button class="auth-submit button button-restore_password" type="submit">{% trans 'Изменить мой пароль' %} </button>
                    </form>
                {% else %}
                    <p>{% trans 'Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться в правильности написания.' %}</p>
                {% endif %}
            </div>


        </main>
</div>
{% block footer %} {% endblock %}
{% endblock %}