{% extends 'base.html' %}
 {%  load i18n %}
{% load static %}

{% block main %}



    <ul> <h2>Топ 10 продоваемых товаров</h2>
        {% for product in sort_total_x %}
             <li>  ID : {{ product.id_product }} </li>
            <li> Имя продукта: {{ product.name }} </li>
            <li> Сколько купили {{ product.count_pay }} </li>
            <li> Цена {{ product.price }} </li>
             <li> Дата покупки {{ product.created_at }} </li>
        {% endfor %}
    </ul>


{% endblock %}