{% extends 'base.html' %}
 {%  load i18n %}
{% load static %}

{% block main %}

    <h2 class="title_main title__list-shops">{% trans 'Список товаров' %}</h2>

    <section class="shops-list">

                             {% if item_list %}
                            {% for item in item_list %}
              <div class="wrap-shops">

                <h2 class="title-shops"> {{ item.name }} </h2>
                <p class="price-shop">{% trans 'Цена: ' %}{{ item.price }} {% trans 'руб.' %}</p>
                <p class="tel-shops"> {{ item.tel }}</p>
                <a href="{% url 'items_list-detail' pk=item.pk %}" class="links link-shops">{% trans 'Подробнее' %}</a>
                    <ul class="shop_list">
                    <h3 class="shop__title">{% trans 'В магазинах: ' %} </h3>
                     {% for i_shop in item.shops.all %}
                    <li class="shop_item"> {{ i_shop.name }} </li>
                         {% endfor %}
            </ul>

              </div>
                        {% endfor %}
                        {% else %}
        <h2 class="title_main title__enter-login">{% trans 'Список пуст' %}</h2>
                        {% endif %}
    </section>



{% endblock %}