{% extends 'base.html' %}
 {%  load i18n %}

{% block main %}

    <h2 class="title_main title__list-shops">{% trans 'О нас' %}</h2>

    <section class="shops-list">

      <h2 class="title-shops"> О нас: </h2>
    <p class="news__text"> Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Маленькая жаренные несколько своего большой заглавных бросил дорогу, это от всех напоивший грустный lorem текст, инициал ведущими сих переулка моей. Страна?
Далеко-далеко за словесными, горами в стране гласных и согласных живут рыбные тексты. От всех журчит текст несколько вопрос знаках, запятых жизни злых деревни напоивший алфавит что парадигматическая осталось океана однажды текстов, своего буквоград!</p>

    </section>





{% endblock %}