
<!DOCTYPE html>
<html lang="en">

{% load cache %}
<head>

<meta charset="UTF-8">
            {%  load i18n %}
            {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static "css/normalize.css" %}">
     <link rel="stylesheet" href="{% static "css/style.css" %}">

{% block head %} {% endblock %}
  <title>{% block title %} {% trans 'Веб магазин' %} {% endblock %} </title>
</head>


 <body> <h1 class="visually-hidden"> {% trans 'Веб магазин' %} </h1>

<main class="main">


<div class="container main-page">
 <header class="header">
 {% block header %}  {% endblock %}
<div class="local">
  <form class="launge-form" action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language" class="launge">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %} >
            {{ language.name_local }} ({{ language.code }})
        </option>
                {% endfor %}
    </select>
</form>
</div>
<ul class="header__menu">
    <li class="header__menu-item"><a class="link-header link-header-user" href="{% url 'index' %}">{% trans 'Новости' %} </a></li>
     <li class="header__menu-item"><a class="link-header link-header-user" href="{% url 'hous_list' %}">{% trans 'Список продаваемого жилья' %} </a></li>
     <li class="header__menu-item"><a class="link-header link-header-user" href="{% url 'about' %}">{% trans 'О нас' %} </a></li>
     <li class="header__menu-item"><a class="link-header link-header-user" href="{% url 'contacts' %}">{% trans 'Контакты' %} </a></li>
      <li class="header__menu-item"><a class="link-header link-header-user" href="{% url 'rss' %}">{% trans 'rss лента' %} </a></li>


</ul>

 </header>

</div>


    {% block main %} {% endblock %}
</main>

<footer>
    {% block footer %} {% endblock %}
 </footer>

     <script src="{% static 'js/inputmask.min.js' %}"></script>
  <script src="{% static 'js/index.js' %}"></script>

</main>
</body>
</html>