<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Загрузка файла</title>
</head>
<body>

<h2></h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Загрузить фаил</button>
</form>

<p>Обновили цен : {{ count_update_items }}</p>
<p> Сколько не обновили цен : {{ count_noupdate_items }}</p>
<ul> ID артикулы которых небыло в БД :
    {%  for i in  id_no_items%}
    <li>{{ i }}</li>
    {% endfor %}
</ul>


</body>
</html>