<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Блог</title>
</head>
<body>


    <li style="border-top: 1px solid red; border-bottom: 1px solid red; list-style: none">
        <h2>Блог номер № {{ blog_items.id }}</h2>
        <h3>Автор: {{ blog_items.author }}</h3>
        <h3> Название: {{ blog_items.title }}</h3>
        <p > Описание: {{ blog_items.description }}</p>
        <p style="border-bottom: 1px solid gray; border-top: 1px solid gray" > {{ blog_items.data_blog }}</p>
        <p>Фото: </p>

        <p><img style="width: 200px; height: 200px" src="{{ blog_items.link_file_img }}"></p>
            </li>



        <h2>Список фоток:</h2>
    <ul>
        {% for i_img in links_img %}
            <li><img style="width: 200px; height: 200px" src="{{ i_img }}"></li>
        {% endfor %}
    </ul>




</body>
</html>