{% extends "base.html" %}
{% load i18n %}
{% block title %} Блог инфо {% endblock %}

{% block main %}
<section>
    <ul class="blog__menu">
<li class="blog__list">
            <div class="blog__list-item">
                <h3 class="blog__list-title">{% trans 'Blog №:' %} {{ item_blog.id }}</h3>
                <span class="blog__author"> {% trans 'Author' %}  {{ item_blog.author }}</span>
                <h4 class="blog__name">{% trans 'Title:' %}  {{ item_blog.title }} </h4>
                <p class="blog__description">{% trans 'Description:' %}  {{ item_blog.min_description }}</p>
                <p class="blog__datatime"> {{ item_blog.data_blog }}</p>

            </div>
        </li>
    </ul>
</section>

{# #}
<section>
{% if links_img %}
<h2 class="blog__list-title"> {% trans 'Gallery:' %}</h2>
<div class="section_swiper">


    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
           {% for i in img_link %}
        <div class="swiper-slide slide-section"> <img class="img_swiper" src="{{ i }}"></div>
       {% endfor %}
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>


    </div>
    {% else %}
    <h2 class="blog__list-title" style="margin-bottom: 300px"> {% trans 'No photo' %}</h2>
     {% endif %}
</div>
</section>

{% endblock %}