{% extends "base.html" %}

{% block title %}
    #Это берет что в базовом шаблоне тут и терпеь можно доавбить содержимое,а не заменить )
    {{ block.super }}
    САЙТ БЛОГОВ
{%  endblock %}

{% block main %}
<section class="blog">
    <div class="blog__created">
        <h3 class="title__blog">Список всех блогов:</h3>
         {% if not request.user.is_authenticated %}
             <p class="title__blog_info">Что бы создать блог, Вам нужно авторизироваться!</p>
        {% endif %}
    </div>

    {% if blog_list %}


    <ul class="blog__menu">
     {% for item_blog in blog_list %}
        <li class="blog__list">
            <div class="blog__list-item">
                <h3 class="blog__list-title">Блог номер № {{ item_blog.id }}</h3>
                <span class="blog__author"> автор: {{ item_blog.author }}</span>
                <h4 class="blog__name">Название: {{ item_blog.title }} </h4>
                <p class="blog__description">Описание: {{ item_blog.min_description }}</p>
                <p class="blog__datatime"> {{ item_blog.data_blog }}</p>
                <a class="links blog__list-links" href="blog_info/{{ item_blog.id }}/"> Подробнее </a>
            </div>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <div class="blog__created">
    <h3 class="title__blog">Еще нету ни 1 созданного блока!</h3>
    </div>
{% endif %}

</section>

{% endblock %}

