{% extends "base.html" %}
{% load i18n %}
{% block title %}
    #Это берет что в базовом шаблоне тут и терпеь можно доавбить содержимое,а не заменить )
    {{ block.super }}
    САЙТ БЛОГОВ
{%  endblock %}

{% block main %}
<section class="blog">
    <div class="blog__created">
        <h3 class="title__blog">{% trans 'List all blogs:' %}</h3>
         {% if not request.user.is_authenticated %}
             <p class="title__blog_info">{% trans 'To create a blog, you need to log in!' %}</p>
        {% endif %}
    </div>

    {% if blog_list %}


    <ul class="blog__menu">
     {% for item_blog in blog_list %}
        <li class="blog__list">
            <div class="blog__list-item">
                <h3 class="blog__list-title">{% trans 'Blog №:' %} {{ item_blog.id }}</h3>
                <span class="blog__author"> {% trans 'Author' %}  {{ item_blog.author }}</span>
                <h4 class="blog__name">{% trans 'Title:' %}  {{ item_blog.title }} </h4>
                <p class="blog__description">{% trans 'Description:' %}  {{ item_blog.min_description }}</p>
                <p class="blog__datatime"> {{ item_blog.data_blog }}</p>
                <a class="links blog__list-links" href="blog_info/{{ item_blog.id }}/">{% trans 'More' %}  </a>
            </div>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <div class="blog__created">
    <h3 class="title__blog">{% trans 'No blogs' %} </h3>
    </div>
{% endif %}

</section>

{% endblock %}

