<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Блог</title>
</head>
<body style="margin: 0 auto; max-width: 1200px;">
<p> <a href="admin/"> Админка (для удобства)</a> </p>

<h2 style="text-align: center"> Сайт блогов!</h2>
{% if request.user.is_authenticated %}
    <div style="display: flex; flex-direction: column; align-content: center; align-items: center">
    <p>Добро пожаловать, {{ request.user.username }}</p>
        <a href="{% url 'created_blog' %}">Создать блог.</a>
        <a href="{% url 'profile_info' %}">Перейти в свой профиль!</a>
    <a href="{% url 'logout' %}">Выйти из профиля</a>
    </div>
    {% else %}
    <div style="display: flex; flex-direction: column; align-content: center; align-items: center">
    <div style="border: 1px solid gray; display: flex; flex-direction: column; align-content: center; width: max-content; padding: 10px" >
    <span><a href="{% url 'register' %}">Регистрация</a></span>
    <span><a href="{% url 'login' %}">Войти</a></span>
    </div>
    </div>
{% endif %}
<div style="display: flex; flex-direction: column; align-content: center; align-items: center">
<h2>Список блогов: </h2>
<ul>
    {% if blog_list %}
    {% for item_blog in blog_list %}
    <li style="border-top: 1px solid red; border-bottom: 1px solid red">
        <h2>Блог номер № {{ item_blog.id }}, создатель {{ item_blog.author }} </h2>
        <h> Название: {{ item_blog.title }}</h>
        <p > Описание: {{ item_blog.min_description }}</p>
        <p style="border-bottom: 1px solid gray; border-top: 1px solid gray" > {{ item_blog.data_blog }}</p>
        
        <p><a href="blog_info/{{ item_blog.id }}/"> Подробнее </a> </p>
    </li>
    {% endfor %}
    {% else %}
    <h3>Блогов нет</h3>
    {% endif %}

</ul>
</div>
</body>
</html>