{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %} Загрузка файла {% endblock %}


{% block main %}
 <section class="content">
<div class="login_wrapper login_wrapper_upload">
    <h2 class="header-title title_uplaod_file">{% trans 'Load file' %}</h2>
    <form method="post" enctype="multipart/form-data" class="login_form">
        {% csrf_token %}

    {{ file_csv_form.file_csv }}
         <button type="submit" class="button_load_file button_load_file_csv"><img src="{% static 'img/slice-mobile.png' %}" class="button_upload"> </button>
         </form>
        {% if error %}
            <div style="border: 2px solid red; margin-top: 15px; padding: 10px; border-radius: 10px">
        <p class="login"> Неверный формат! загрузите файл .csv с таблицей форматом: </p>
         <p class="login">столбец 1(описание): любой текст</p>
        <p class="login">столбец 2(дата): 28/06/15 17:08:00</p>
        <p class="login"> {{ error }}</p>
        {% endif %}
        </div>
</div>
</section>

{% endblock %}

