<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Бесплатные обьявления</title>
</head>
<body>
<h1> Бесплатные обьявления</h1>

{%  if advertisements_list %}



<table style="border: 1px solid black; font-size: 16px; color: gray;">
   <tr ><th >Заголовок</th><th>Цена</th> <th>Наименование рубрики</th></tr>
    {% for advertisement in advertisements_list %}
   <tr style="border-bottom: 1px solid black"><td style="border-right: 1px solid black"><a href="/advertisements/{{ advertisement.id }}"> {{ advertisement.title }} </a></td><td>{{ advertisement.price }} </td> <td> {{advertisement.categoty_name}} </td></tr>
    {% endfor %}
  </table>

  {% else %}
   <p> Обьяьвлений нет.</p>

  {% endif %}




</body>
</html>