<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главное окно</title>
</head>
<body>

    <h1><a href="/advertisements">ТЫКНИ СЮДА для перехода на advertisements </a> </h1>

    {% if index %}

<ul>


    {% for items_list in index %}
    <li>
        {{ items_list.title }}  Цена: {{ items_list.price }} руб.

    <p>
        Дата создания: {{ items_list.created_at }}
    </p>
      <p>
        Количество просмотров: {{ items_list.views_count }}
    </p>
    </li>

    {% endfor %}

</ul>

{% else %}
    <p> Обьявлений нет.</p>
{% endif %}

</body>
</html>