<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Главное окно</title>
</head>
<body>

<ul>
    <h2>Категории:</h2>
    {% for name_category, links in category_list.items %}
    <li><a href={{links}}>{{name_category}}</a></li>
    {% endfor %}
</ul>

 <form method="post" >{% csrf_token %}
     <input name="text" type="text" placeholder="Какой то текст">
     <button type="submit" >Найти</button>
     <p>{{succes_post}}</p>
 </form>


</body>
</html>