
@font-face {
    font-family: 'FuturaDemiC';
    src: url('../fonts/futura/._FuturaDemiC.eot');
    src: local('Futura Demi Cyrillic'), local('FuturaDemiC'),
        url('../fonts/futura/._FuturaDemiC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura/._FuturaDemiC.woff') format('woff'),
        url('../fonts/futura/._FuturaDemiC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaMediumC';
    src: url('../fonts/futura/._FuturaMediumC.eot');
    src: local('Futura Medium Cyrillic'), local('FuturaMediumC'),
        url('../fonts/futura/._FuturaMediumC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura/._FuturaMediumC.woff') format('woff'),
        url('../fonts/futura/._FuturaMediumC.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLightC';
    src: url('../fonts/futura/._FuturaLightC-Italic.eot');
    src: local('Futura Light Italic Cyrillic'), local('FuturaLightC-Italic'),
        url('../fonts/futura/._FuturaLightC-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura/._FuturaLightC-Italic.woff') format('woff'),
        url('../fonts/futura/._FuturaLightC-Italic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'FuturaMediumC';
    src: url('../fonts/futura/._FuturaMediumC-Italic.eot');
    src: local('Futura Medium Italic Cyrillic'), local('FuturaMediumC-Italic'),
        url('../fonts/futura/._FuturaMediumC-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura/._FuturaMediumC-Italic.woff') format('woff'),
        url('../fonts/futura/._FuturaMediumC-Italic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'FuturaLightC';
    src: url('../fonts/futura/._FuturaLightC.eot');
    src: local('Futura Light Cyrillic'), local('FuturaLightC'),
        url('../fonts/futura/._FuturaLightC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura/._FuturaLightC.woff') format('woff'),
        url('../fonts/futura/._FuturaLightC.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaDemiC';
    src: url('../fonts/futura/._FuturaDemiC-Italic.eot');
    src: local('Futura Demi Italic Cyrillic'), local('FuturaDemiC-Italic'),
        url('../fonts/futura/._FuturaDemiC-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura/._FuturaDemiC-Italic.woff') format('woff'),
        url('../fonts/futura/._FuturaDemiC-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
h1.main-heading.dobavochka {
    margin-left: 10%;
}
p.dobavka {
    width: 50%;
    font-family: 'Circe', sans-serif;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 27px;
    color: #565656;
    margin: 0 0 4.7rem 21.4rem;
}
@font-face {
    font-family: 'FuturaBookC';
    src: url('../fonts/futura/._FuturaBookC-Italic.eot');
    src: local('Futura Book Italic Cyrillic'), local('FuturaBookC-Italic'),
        url('../fonts/futura/._FuturaBookC-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura/._FuturaBookC-Italic.woff') format('woff'),
        url('../fonts/futura/._FuturaBookC-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'FuturaBookC';
    src: url('../fonts/futura/._FuturaBookC.eot');
    src: local('Futura Book Cyrillic'), local('FuturaBookC'),
        url('../fonts/futura/._FuturaBookC.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura/._FuturaBookC.woff') format('woff'),
        url('../fonts/futura/._FuturaBookC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

/*================================================ END - ШРИФТЫ ==========================================*/


/*================================================ ОБЩИЕ НАСТРОЙКИ ==========================================*/

/* Плавная прокрутка всего документа */
html {
    scroll-behavior: smooth;
    position: relative;
  }

/**
* Reinstate scrolling for non-JS clients
*/
.simplebar-content-wrapper {
    overflow: auto;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --font-family: 'FuturaBookC';
}
/* скрыть заголовок h1 */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

ul {
    list-style: none;
}


a{text-decoration: none;}

.container {
    width: 100%;
}
body{
    background-color: #FFFFFF;
    background-image: url('../img/bg-new.png');
    background-size: cover;
    background-repeat: repeat;
}

.container.main-page {

}

.header {
    width: 100%;
    padding: 3.1rem 16rem 10rem 16rem;
}

.header-top {
    position: relative;
    background-color: #ffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 23px 48px 29px 48px;
    box-shadow: 0px 10px 30px rgba(36, 36, 36, 0.25);
    border-radius: 100px;
}

label,
#menu-toggle {
    display: none;
}

.header-nav {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #f8f8f8;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
    z-index: 5;
}

.nav-header {
    display: flex;
}

.logo-name {
    font-family: 'FuturaDemiC', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    line-height: 26px;
    text-transform: uppercase;
    color: #62286F;
    margin-right: 5.2rem;
}

.nav-link {
    font-family: 'TTcommons', sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 18px;
    text-decoration: none;
    color: #62286F;
    margin-right: 20px
}

.nav-link:nth-child(4) {
    font-weight: 600;
}

.login-wrp {
    display: flex;
    align-items: center;
}

.login-btn {
    font-family: 'TTcommons', sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 18px;
    background-color: transparent;
    outline: none;
    border: none;
    color: #62286F;
    margin-right: 12px;
    text-decoration: none;
}

.user-avatar {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.logout_lk{
    position: absolute;
    right: 80px;
    bottom: 2px;
    font-size: 18px;
    color: black;
}

.launge-form{
    position: fixed;
    right: 0px;
    top: 0;

}

.basket{
    position: fixed;
    top: 50px;
    right: 50px;
    font-family: 'TTcommons', sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 18px;
    text-decoration: none;
    color: #62286F;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title_main{
    margin: 0;
    margin-bottom: 50px;
    line-height: 39px;
    color: #60286F;
}

.HOME{
    position: fixed;
    top: 100px;
    left: 300px;
}