{% extends 'base.html' %}
 {%  load i18n %}
{% load static %}
{% block main %}

    <section class="login-section">
        <div class="wrapper__login">
        <a class="link_shops" href="{% url 'shops_list' %}">{% trans 'Список магазинов' %}</a>
            {% if not request.user.is_authenticated %}
            <h2 class="title_main title__enter-login">{% trans 'ВОЙТИ В СВОЙ ПРОФИЛЬ' %}</h2>
            <div class="wrapper__login-form">
                <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn_enter" type="submit">{% trans 'Войти' %}</button>
                </form>
                    <a class="link link__register" href="{% url 'register' %}">{% trans 'Регистраиця' %}</a>
                <span class="Errors">
                 {{ form.errors }}
                </span>
            </div>
        </div>
                     {% else %}

                       <div class="img_avatar_big">
                            <h2 class="title_main title__username">{% trans 'Добро пожаловать!' %}, {{ request.user.username }}! </h2>
                            <img src=" {% if not avatar %}  {%  static 'img/no_avatar.jpg' %} {% else %} {{ avatar }} {% endif %}" alt="user avatar" class="big-avatar">
                        </div>

                    {% endif %}

    </section>





{% endblock %}