{% extends 'base.html' %}
 {%  load i18n %}
{% load static %}
{% block main %}

 <section class="login-section">
        <div class="wrapper__login">
             <h2 class="title_main title__enter-login">{% trans 'РЕГИСТРАЦИЯ ПРОФИЛЯ' %}</h2>

            <div class="wrapper__login-form">
                 <form method="post" enctype="multipart/form-data" class="form__register">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn__register" type="submit">{% trans 'Зарегистрироваться' %}</button>
                </form>
            </div>
        </div>
    </section>

{% endblock %}