
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
            {%  load i18n %}
            {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static "css/normalize.css" %}">
<link rel="stylesheet" href="{% static "css/style_login.css" %}">
     <link rel="stylesheet" href="{% static "css/style_created_blog.css" %}">
    <link rel="stylesheet" href="{% static "css/swiper-bundle.css" %}">
     <link rel="stylesheet" href="{% static "css/swiper-bundle.min.css" %}">
     <link rel="stylesheet" href="{% static "css/swiper.min.css" %}">
    <link rel="stylesheet" href="{% static "css/lk.css" %}">

     <link rel="stylesheet" href="{% static "css/style.css" %}">


    <title>{% block title %} Наш блог {% endblock %} </title>

</head>
<body>

{% block header %}
    <header> <h1 class="visually-hidden"> Блог </h1>
        <div class="header">
            <div class="header__nav">
                <ul class="header__menu">
                    <li class="header__list">
                        <a href="/" class="links header__links"><img class="logo" src="{% static 'img/LOGO1.png' %}" alt="logo"></a>
                    </li>
                    <li class="header__list"> <form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %} >
            {{ language.name_local }} ({{ language.code }})
        </option>
                {% endfor %}
    </select>
<input type="submit" value="Go">
</form></li>
                    <li class="header__list">
                        <div class="header__login">
                            <ul class="header__login-menu">
                                <li class="header__login-list"><a href="admin/" class="links header__links">Админка (для удобства)</a></li>
                                {% if request.user.is_authenticated %}
                                    {% if flag_admin %}
                                        <li class="header__login-list"><a href="admin/" class="links header__links">Профиль, ADMIN</a></li>
                                        {% else %}
                                <li class="header__login-list"><a href="{% url 'profile_info' %}" class="links header__links">Профиль, {{ request.user.username }}</a></li>
                                        {% endif %}
                                    <li class="header__login-list"><a href="{% url 'created_blog' %}" class="links header__links"> Создать блог </a></li>
                                <li class="header__login-list"><a href="{% url 'logout' %}" class="links header__links">Выйти</a></li>
                                {% else %}
                                <li class="header__login-list"><a href="{% url 'login' %}" class="links header__links">Войти</a> </li>
                                <li class="header__login-list"><a href="{% url 'register' %}" class="links header__links">Регистрация</a></li>
                                {% endif %}
                            </ul>
                         </div>
                    </li>

                </ul>
            </div>
            <div class="header__content">
                <h2 class="header-title">Сайт для создания блогов</h2>
            </div>
        </div>
   </header>

{% endblock %}
<main>
    {% block main %} {% endblock %}
</main>

    {% block footer %}
    <footer class="footer">
    <div class="footer-conteiner">
      <div class="footer__content">
        <a href="/" class="links header__links"><img class="logo" src="{% static 'img/LOGO1.png' %}" alt="logo"></a>

      </div>
    </div>


 </footer>
    {% endblock %}

 <script src="{% static 'js/inputmask.min.js' %}"></script>
  <script src="{% static 'js/swiper-bundle.js' %}"></script>
  <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'js/index.js' %}"></script>


</body>
</html>