{% extends 'base.html' %}
 {%  load i18n %}
{% load static %}


{% block bodystart %}
    <div class="container avtorization">
{% endblock %}


{% block main %}

        <main class="auth-block">
            <div class="login-block log-in-txt__password_complete">
                <div class="log-in-txt log-in-txt__password_complete">

                     <span class="log-in">{% trans 'Восстановление пароля завершено' %}</span>
                    <p>{% trans 'Ваш пароль был сохранен. Теперь вы можете ' %} <a href="{% url "login" %}">{% trans 'войти' %}</a></p>

                </div>
            </div>


        </main>
</div>
{% block footer %} {% endblock %}
{% endblock %}