{% extends 'base.html' %}
 {%  load i18n %}
{% load static %}


{% block bodystart %}
    <div class="container avtorization">
{% endblock %}


{% block main %}

        <main class="auth-block">
            <div class="login-block">
                <div class="log-in-txt">

                     <span class="log-in">{% trans 'Сброс пароля' %}</span>

                </div>

                <form class="auth-form" method="post" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <p class="submit"><button class="auth-submit button button-restore" type="submit" > {% trans 'Отправить новый пароль' %}</button></p>
                </form>
            </div>


        </main>
</div>
{% block footer %} {% endblock %}
{% endblock %}