
<!DOCTYPE html>
<html lang="en">

{% load cache %}
<head>

<meta charset="UTF-8">
            {%  load i18n %}
            {% load static %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static "css/normalize.css" %}">
     <link rel="stylesheet" href="{% static "css/style.css" %}">

{% block head %} {% endblock %}
  <title>{% block title %} {% trans 'Веб магазин' %} {% endblock %} </title>
</head>


 <body> <h1 class="visually-hidden"> {% trans 'Веб магазин' %} </h1>

<main>
    <a class="HOME" href="{% url 'index' %}"><h2 class="title_main">{% trans 'ДОМОЙ' %}</h2> </a>
{% block header %}  {% endblock %}
<div class="container main-page">
 <header class="header">
  <form class="launge-form" action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %} >
            {{ language.name_local }} ({{ language.code }})
        </option>
                {% endfor %}

    </select>
{#    <a href="#" class="basket ">Корзина</a>#}
</form>



            <div class="header-top">
                <div class="login-wrp">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'profile' %}" class="login-btn"> {{ request.user.username }},{% trans 'Ваш прорфиль' %}</a>

{#                    <a href="#"><img src=" {% if not avatar %}  {%  static 'img/no_avatar.jpg' %} {% else %} {{ avatar }} {% endif %}" alt="user avatar" class="user-avatar"></a>#}
                     <a href="{% url 'logout' %}" class="logout_lk" >{% trans 'Выйти' %} </a>
                     {% endif %}
                </div>

            </div>
 </header>

</div>

<main class="main-page">
    {% block main %} {% endblock %}
</main>

<footer>
    {% block footer %} {% endblock %}
 </footer>

     <script src="{% static 'js/inputmask.min.js' %}"></script>
  <script src="{% static 'js/index.js' %}"></script>

</main>
</body>
</html>