{% extends 'base.html' %}
 {%  load i18n %}

{% block main %}
    {% if not request.user.is_authenticated %}
<div class="main">
        <h2 class="title_main">{% trans 'ВОЙТИ В СВОЙ ПРОФИЛЬ' %}</h2>
        <div class="wrapper__login-form">
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">{% trans 'Войти' %}</button>
        <span>
            <a class="link link__register" href="{% url 'register' %}">{% trans 'Регистраиця' %}</a>
        </span>
        <span class="Errors">
            {{ form.errors }}
        </span>
    </form>
        </div>
    {% endif %}

</div>
{% endblock %}