{% extends 'base.html' %}
 {%  load i18n %}
 {% load static %}
{% load cache %}
{% block main %}

   <section class="profile__section">
        <div class="wrapper__profile-info">
            <div class="profile_info">
                <ul class="menu__profile">
                     <h2 class="title title__user-profile"> {% trans 'Данные пользователя' %} </h2>
                        <li class="list__items-profile">  {% trans 'Ваше логин: ' %}{{ user.username }}</li>
                        <li class="list__items-profile">  {% trans 'Ваше имя: ' %}{{ user.first_name }}</li>
                        <li class="list__items-profile">  {% trans 'Ваше email: ' %}{{ user.email }}</li>
                        <li class="list__items-profile">   {% trans 'Ваше телефон: ' %}{{ user.profile.phone }}</li>
                        <li class="list__items-profile">   {% trans 'Ваше пол: ' %}{{ user.profile.gender }}</li>
                        <li class="list__items-profile">   {% trans 'Ваш БАЛАНС: ' %}{{ user.profile.balance }}</li>
                </ul>
            </div>

            <div class="profile_avatar">
                <img src=" {% if not avatar %}  {%  static 'img/no_avatar.jpg' %} {% else %} {{ avatar }} {% endif %}" alt="user avatar" class="user-avatar-profile">
            </div>
        </div>

    {% cache 60 history %}
    <h2 class="title title__user_history"> {% trans 'История ваших покупок' %} </h2>
        <ul class="menu__history">
                            {% for item in history %}
                <li class="list__items-history">
                  <p class="list__items-history-description"> {% trans 'Название товара: ' %}{{ item.name_product }} </p>
                    <p class="list__items-history-price"> {% trans 'Цена товара: ' %}{{ item.price }} </p>
                    <p class="list__items-history-price"> {% trans 'Количество: ' %}{{ item.count_product }} </p>
                    <p class="list__items-history-data">  {% trans 'Дата покупки: ' %}{{ item.creadet_at }} </p>
                 </li>
                                     {% endfor %}

        </ul>
                                {% endcache %}

     <h2 class="title title__user_stock"> {% trans 'Акции' %} </h2>
        <ul class="menu__stock">
        {% for item in stock %}
            {% if item.active %}
             <li class="list__items-stock">
                 <p class="list__items-stock-description"> {% trans 'Название акции: ' %}{{ item.name }} </p>
                 <p class="list__items-stock-price">{% trans 'Описание акции: ' %}{{ item.description }} </p>
                 <p class="list__items-stock-data">{% trans 'Дата начала акции: ' %}{{ item.created_at }}</p>
            </li>
            {% endif %}
            {% endfor %}
        </ul>

        <h2 class="title title__user_promotions"> {% trans 'Предложения' %} </h2>
        <ul class="menu__promotions">
        {% for item in promotions %}
              {% if item.active %}
             <li class="list__items-promotions">
                 <p class="list__items-promotions-description"> {% trans 'Название предложения: ' %}{{ item.name }} </p>
                 <p class="list__items-promotions-price"> {% trans 'Описание предложения: ' %}{{ item.description }} </p>
                 <p class="list__items-promotions-data"> {% trans 'Дата начала предложения: ' %}{{ item.created_at }} </p>
            </li>
            {% endif %}
            {% endfor %}
        </ul>


</section>
{% endblock %}