{% extends 'base.html' %}
 {%  load i18n %}

{% block main %}

    <h2 class="title_main title__list-shops">{% trans 'Список магазинов' %}</h2>

    <section class="shops-list">

                             {% if shops %}
                            {% for shop in shops %}
              <div class="wrap-shops">

                <h2 class="title-shops"> {{ shop.name }} </h2>
                <p class="adres-shop">{{ shop.adress }}</p>
                <p class="tel-shops"> {{ shop.tel }}</p>
                <a href="#" class="links link-shops">Перейти в магазин</a>
              </div>
                        {% endfor %}
                        {% else %}
        <h2 class="title_main title__enter-login">{% trans 'Список пуст' %}</h2>
                        {% endif %}
    </section>

{% endblock %}