{% extends 'base.html' %}
 {%  load i18n %}
{% load static %}
{%  load humanize %}

{% block head %}


{% endblock %}


{% block bodystart %}
    <div class="container main-page">
{% endblock %}
{% block main %}

<main class="main-page-content">
            <div class="about-us">
                        <div class="main-desc rashid">
                            <h1 class="main-heading">{% trans 'Другие мечты' %}</h1>
                            <p class="heading-txt rashid">{% trans 'Каждый час HELP DREAM исполняет мечты наших пользователей. Мы стремимся к регулярному исполнению мечт, поэтому прямо сейчас вы можете ознакомится с самыми заветными желаниями других людей. Каждая мечта достойна исполнения, независимо от стоимости и величины «хотения».' %}</p>
                           <p class="heading-txt rashid">{% trans 'Мы настроены на то, чтобы люди были счастливы и поддерживали друг-друга, поэтому HELP DREAM – это проект, который направлен на создание позитивных эмоций и доброй энергетики.' %}</p>
                        </div>
                    <div class="main-replenish rashid">
                        <img src="{% static 'img/Marketing  Affiliate  Illustration.svg' %}" alt="bag of coins" class="pic-coins otherdream_icon" width="100%" height="auto">
                    </div>
            </div>
            <div class="how-to-do rashid">
                <span class="how-to-do-title">{% trans 'Сортировать по: ' %}

                    <form method="post" id="form__filter" class="select">
                        <div class="select-wrapper">
                        {% csrf_token %}
                        {{ filter_form.filter_atr }}
                        </div>
                    </form>

                </span>
                <hr class="hr">
                    <div class="more_dreams">
                        <div class="mechty_ludey mechty_ludey__other">

                           {% for items_dream in all_dreams %}
                               <div class="chelovek chelovek--otherdream">
                                        <a href="{% url 'detail_dream' pk=items_dream.pk %}">
                                                <div class="chelovek_body chelovek_body--otherdream">
                                           <img class="logo rashid ava_border" src="{{ items_dream.who_dream.avatar.url }}">
                                           <div class="peredvig"><div class="stars">
                                               <img src="{{ items_dream.who_dream.img.url}}">
                                           </div>
                                           <h3>{{ items_dream.title}}</h3></div>
                                           <p>{{ items_dream.mini_description }}</p>

                                             <div class="progress_bar">

                                                                <div class="progress_bar_price">
                                                                    <p>{% trans 'Сейчас: ' %}{{ items_dream.help_price|intcomma  }} {% trans '₽' %}</p>
                                                                    <p>{% trans 'Цель: ' %}{{ items_dream.price|intcomma  }}  {% trans '₽' %}</p>
                                                                </div>

                                                                <progress class="polosa" max="{{ items_dream.price }}" value="{{ items_dream.help_price }}"></progress>

                                                                    <div class="ostat">
                                                                        <p>{% trans 'Осталось (дней): ' %}{{ items_dream.days_end }}</p>
                                                                    </div>
                                                            </div>

                                                <div class="chelovek_podval">
                                                    <img class="icon_comments" src="{% static 'img/icon_comments.png' %}">
                                                        <p class="logotyps__nohelp_text--otherdream">{% trans 'комментарии' %}</p>
                                                        <span class="number_comments"> {{ items_dream.comments.all.count }}  </span>

                                                </div>

                                       </div>
                                        </a>
                               </div>
                           {% endfor %}
                        </div>
                            <div class="pagination">
                                <span class="step-links">
                                    {% if all_dreams.has_previous %}
                                        <a  class="page_number" href="?page=1">1</a>
                                        <a class="page_number_link" href="?page={{ all_dreams.previous_page_number }}"> &laquo;{% trans 'предыдущая' %}</a>
                                    {% endif %}
                                        {% if all_user.has_previous or all_user.has_next %}
                                            <span class="current">
                                                 {{ all_dreams.number }}
                                            </span>
                                        {% endif %}

                                    {% if all_dreams.has_next %}
                                        <a class="page_number_link"  href="?page={{ all_dreams.next_page_number }}">{% trans 'следущая' %} &raquo;</a>
                                        <a class="page_number" href="?page={{ all_dreams.paginator.num_pages }}">{{ all_dreams.paginator.num_pages }}</a>

                                    {% endif %}
                                </span>


                            </div>
                       <div class="motivation"><h1>{% trans 'Мечты сбываются нужно только захотеть...' %}</h1></div>
                    </div>
            </div>







        </main>
    </div>




{% endblock %}

