/*================================================ ШРИФТЫ ==========================================*/

@font-face {
    font-family: 'Open-Sans';
    src: local('Open-Sans'),
    url('../font/OpenSansSemibold.woff2') format('woff2'),
    url('../font/OpenSansSemibold.woff') format('woff');
    font-style: normal;
    font-weight: 600;
}

@font-face {
	font-family: 'Open-Sans';
	src: local('Open-Sans'),
    url('../font/OpenSansBold.woff2') format('woff2'),
    url('../font/OpenSansBold.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: bold;
}



@font-face {
	font-family: 'Open-Sans';
	src: local('Open-Sans'),
    url('../font/OpenSansRegular.woff2') format('woff2'),
    url('../font/OpenSansRegular.woff') format('woff');
    font-display: swap;
    font-style: normal;
    font-weight: normal;
    font-weight: 400;
}

@font-face {
	font-family: 'Open-Sans';
	src: local('Open-Sans'),
    url('../font/OpenSansItalic.woff2') format('woff2'),
    url('../font/OpenSansItalic.woff') format('woff');
    font-display: swap;
    font-style: italic;
    font-weight: normal;
}

/*================================================ END - ШРИФТЫ ==========================================*/


/*================================================ ОБЩИЕ НАСТРОЙКИ ==========================================*/

/* Плавная прокрутка всего документа */
html {
    scroll-behavior: smooth;
  }

/**
* Reinstate scrolling for non-JS clients
*/
.simplebar-content-wrapper {
    overflow: auto;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --font-family: 'Open-Sans';
}
/* скрыть заголовок h1 */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

ul {
    list-style: none;
}

a {
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

*:focus {
    outline: 0;
}

body {
    margin: 0 auto;
    font-family: 'Open-Sans', sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-image: url('../img/bg-new.png');
    background-size: cover;
    background-repeat: repeat;

}

.header{
    margin: 0 auto;
    width: 100%;
    padding: 30px 0px;
    max-width: 1024px;

}
.header__login-list:not(:last-child){
    margin-bottom: 5px;
}

.header__links{
    color: rgba(7, 0, 5, 0.945);
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    transition-duration: 0.3s;
    transition-property: color;
    transition-timing-function: ease-in-out;
}

.header__links:hover {
    color: white;

}

.header__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header__login-menu{
    border: 1px solid white;
    border-radius: 20px;
    padding: 20px;
}

.header__content {
    padding: 10px;
}

.header-title{
    padding-top: 50px;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    text-align: center;
    margin: 0;
}



section{
    margin: 0 auto;
    max-width: 1024px;

}


.blog{
    display: flex;
    width: 100%;

}

.blog__created{
    width: 50%;
    padding-right: 50px;
}

.blog__img{
    width: 50%;
}

.img_blog{
    width: 100%;
    border-radius: 10px;
}

.blogcreated__title{
    margin: 0;
    font-size: 40px;
    margin-bottom: 40px;
}

.button_load_file{
    cursor: pointer;
    border: none;
    background-color: transparent;
}


.footer{
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    background-color: black;
}

.footer-conteiner{
    max-width: 1024px;
    padding-top: 0;
    padding-bottom: 0;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 140px;
}

.input_title{
    width: 50%;
    padding: 10px;
    border-radius: 30px;
    border: 2px solid #C0349E;
}

.input_title::placeholder{
    color: lightgray;
}

.input_description{
    width: 100%;
    padding: 15px;
    resize: none;
    height: 300px;
    border-radius: 30px;
    border: 2px solid #C0349E;

}


.input_description::placeholder{
    color: lightgray;
}


.input_file{
    border-radius: 10px;
    background-color: white;
    border: 2px solid #C0349E;
    padding: 5px;
}

.blog__uplaod_file{
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
}

.link_csv{
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}