p {
    margin: 0;
}

.login_wrapper{
    margin-top: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 300px;
    margin-bottom: 500px;
}

.login_form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid rgb(163, 0, 122);
    border-radius: 30px;
}

.register_form{
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 2px solid rgb(163, 0, 122);
    border-radius: 30px;
}

.label{
    font-size: 16px;
    font-weight: 800;
    display: flex;
    margin-bottom: 3px;
}

.label_errors{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 3px;
    max-width: 200px;
    color: red;
}


.errorlist{
    max-width: 300px;
    padding: 0;
    margin: 0;
    list-style: none;


}

.errorlist li{
    color: red;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 3px;
}


.input{
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(163, 0, 122);
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: left;
}

.Btn_login{
    padding: 5px;
    border: 1px solid rgb(163, 0, 122);
    border-radius: 5px;
    color: black;
    font-size: 16px;
    font-weight: 800;
    background-color: rgb(250, 233, 246);
    cursor: pointer;
    transition-duration: 0.3s;
    transition-property: color, background-color;
    transition-timing-function: ease-in-out;
}

.Btn_login:hover{
    color: white;
    background-color: rgb(153, 54, 130);
}


.login {
    margin: 0;
}