<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать новость</title>
</head>
<body>
<h1> Создать новость</h1>

<form method="post" action="/created_news/">
    {% csrf_token %}

    {{ my_news.as_p }}

{#    <h3><label for="id_titlenews">Название новости:</label>  {{ my_news.titlenews }}</h3>#}
{#    <p><label for="id_description">Описание:</label>{{ my_news.description }}</p>#}
{#     <p> Флаг что нужно опубликовать: {{ my_news.is_active_news }}</p>#}

    <button type="submit">Опубликовать</button>
</form>

</body>
</html>