<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Создать коментарий</title>
</head>


<h2> Название новости: {{ news.titlenews }}</h2>

<form method="post" action="/created_comments/{{ news.id }}/">
      {% csrf_token %}

   <p>Ваше имя:
       {% if request.user.is_authenticated %}
        <input type="text" name="name" maxlength="200" required id="id_name" disabled> {{ request.user.username }} (Вы авторизованы)
       {%  else %}
        {{ my_comment.name }} (Аноним)

       {% endif %}
   <p>Напишите сообщение : </p>
    {{ my_comment.description }}
    <button type="submit">Написать!</button>
    {{ errors }}

</form>

</body>
</html>