<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{#<h1> Новость: {{ detail_items.titlenews }}</h1>#}
{#<p> Описание: {{ detail_items.description }}</p>#}
{#<p>Дата создания новости: {{ detail_items.created_news }}</p>#}
{#<p>Дата обновления новости: {{ detail_items.updated_news }}</p>#}
{#    {% for i in detail_items.comment %}#}
{#    <p>Автор коментария: {{ i.name }}</p>#}
{#    <p>коментариq: {{ i.description }}</p>#}
{#    <p>Дата: {{ i.created_comments }}</p>#}
{#    <p>---------------------------</p>#}
{#    {% endfor %}#}

<h1> Новость: {{ news.titlenews }}</h1>
<p> Описание: {{ news.description }}</p>
<p>Дата создания новости: {{ news.created_news }}</p>
<p>Дата обновления новости: {{ news.updated_news }}</p>
<a href="/created_comments/{{ pk }}">Написать коментарий</a>


{% for com in coments %}
    {% if not com.status_comment %}
<p>Имя коментатора: {{ com.name }}
   </p>
    <p>коментарий: {{ com.description }}</p>
    <p>Дата коментария: {{ com.created_comments }}</p>
{#    <p> Этот коментарий к новости: {{ com.comment.titlenews }}</p>#}
    <p>---------------------------------</p>
    {% else %}
         <p>---------Имя: {{ com.name }}----------------</p>
          <p>Этот комент был УДАЛЕН АДМИНОМ</p>
        <p>------------------------------</p>
    {% endif %}
{% endfor %}




</body>
</html>