<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Все новости</title>
</head>
<body>
{% if request.user.is_authenticated %}
    <h2> Добро пожаловать! {{ request.user.username }}</h2>
    <p> Если что, то можно выйти СПОСОБ №1: <a href="users/logout/">ВЫЙТИ</a></p>
    <p> Если что, то можно выйти СПОСОБ №2:<a href="users/another_logout">ВЫЙТИ</a></p>

    {% else %}
    <h2> <a href="users/login/" >LOGIN</a></h2>
    <h2> <a href="users/another_login/" >Another LOGIN</a></h2>

{% endif %}

{##}
<h2> <a href="profiles/registr"> Регистрация</a> </h2>
<h2> <a href="admin/"> Админка</a> </h2>


{#<form method="post" >#}
{#    {% csrf_token %}#}
{#    {{ user_form.as_p }}#}
{#    <button type="submit">Войти</button>#}
{#</form>#}

   <a href="/created_news/"> Создать новость </a>
    {% if items_news %}
        {% for i in items_news %}
            {% if i.is_active_news %}
    <h1> <a href='news/{{ i.id}}'> Новость: {{ i.titlenews }} </a></h1>
      <a href="created_news/{{ i.id }}/edit/">Редактировать новость</a>

            {% endif %}
        {% endfor %}
        <h2> Устаревшие новости(не активные):</h2>
        {% for i_old in items_news %}
            {% if not i_old.is_active_news %}
                <h1> <a href='news/{{ i_old.id}}'> Устаревшие новости(не активные): {{ i_old.titlenews }} </a></h1>
      <a href="created_news/{{ i_old.id }}/edit/">Редактировать новость</a>
                {% endif %}
        {% endfor %}
    {% else %}


    <h1>Новостей нет</h1>
    {% endif %}







</body>
</html>