{% extends 'base.html' %}
 {%  load i18n %}
{% load static %}
{% load humanize %}

{% block bodystart %}
    <div class="container main-page">
{% endblock %}
{% block main %}

 <main class="main-page-content">
            <div class="about-us">
                <div class="main-desc">
                    <h1 class="main-heading">Help dream</h1>
                    <p class="heading-txt">{% trans 'Любая мечта – теперь реальность.<br> Исполнить мечту можно, помогая не только себе, но и другим людям. Тысячи из нас хотят, чтобы их желание скорее исполнилось и уже выставляют свою цель на наш сайт. Вы сами выбираете, какую мечту хотите исполнить, а ведь можно осчастливить сразу нескольких людей!<br><br> HELP DREAM – это сервис, где каждый может помочь друг-другу, достаточно пополнить чье-то желание. После того, как нужная сумма будет собрана, средства автоматически переводятся на счёт. Если собранная сумма будет больше указанной, деньги перечислятся в общий фонд сервиса' %}
                    <a href="{% url 'boxdream' %}"> BOXDREAM. </a>
                    </p>
               <!--      <span class="sm-heading-txt">Мы реальны ... </span>
               <div class="hands-pic"><img src="img/hands.png" alt=""></div> -->
                </div>
                <div class="main-replenish">
                    <img src="{% static 'img/coins.png' %}" alt="bag of coins" class="pic-coins" width="296" height="296">
                    <span class="sum">{{ boxdream.balance|intcomma }} {% trans '₽' %} </span>
                    <span class="lottery-txt">{% trans 'До розыгрыша осталось:' %} </span>
                    {% if flag_dream %}

                        <span class="lottery-counter__draw-text ">
                       {{ need_count_active_dream }} {% trans 'активных желаний' %}
                        </span>
                    {% else %}
                    <span class="lottery-counter">
                       {{ Leftbeforethedraw|intcomma }} {% trans '₽' %}
                    </span>
                    {% endif %}
                    <a href="{% url 'boxdream' %}" class="button replenish-btn ">{% trans 'Пополнить' %}</a>
                    <div class="result_win_box">
                        <a href="{% url 'historywin' %}"><img src="{% static 'img/coins.png' %}" alt="bag of coins" class="result_win_box__img js-tooltip-right" data-tippy-content="Результаты розыгрыша"></a>
                    </div>

                </div>
            </div>
            <div class="how-to-do">
                <span class="how-to-do-title">{% trans 'Как исполнить мечту?' %}</span>
                <hr class="hr">
                
                <div class="cards-wrp">
                    <div class="how-to-do-card">
                        <img src="{% static 'img/pic1.png' %}" alt="how to do" class="how-to-do-pic adapt">
                        <span class="how-to-do-sm-title">{% trans 'Написать свою мечту' %}</span>
                        <p class="how-to-do-sm-txt">{% trans 'Загрузите фотографии и опишите на какую мечту Вы собираете' %}</p>
                        
                    </div>
                    <div class="how-to-do-card">
                        <img src="{% static 'img/pic2.png' %}" alt="how to do" class="how-to-do-pic adapt">
                        <span class="how-to-do-sm-title">{% trans 'Собрать средства' %}</span>
                        <p class="how-to-do-sm-txt">{% trans 'С помощью не равнодушных людей собираете на свою мечту' %}</p>
                    </div>
                    <div class="how-to-do-card">
                        <img src="{% static 'img/pic3.png' %}" alt="how to do" class="how-to-do-pic adapt">
                        <span class="how-to-do-sm-title">{% trans 'Исполнить свою мечту' %}</span>
                        <p class="how-to-do-sm-txt">{% trans 'И не забудьте сами кому то помочь!' %}</p>
                        
                    </div>
                    
                </div>
            </div>


                
            <div class="reviews-block">
                 <a href="{% url 'writedream' %}" class="write-dream-btn">
                    {% trans 'Хочу написать свою мечту' %}
                </a>
                <span class="reviews-title">{% trans 'Мечты сбываются нужно только захотеть...' %}</span>

                <div class="reviews-block">
                <img src="{% static 'img/review-author.png' %}" alt="review author" class="review-author-photo" width="104"
                    height="104">
                <span class="sm-review-title">Моя жизнь изменилась</span>
                <p class="review-txt">Я всегда хотел быть спасателем маленьких рыбок <br>
                    и вот благодоря HELP DREAM, я смог купить подводное оборудование
                    и стал самым классным спасателем утопающих рыбок</p>
                <span class="review-author">Жак-Ив Кусто́, Бордо</span>
                </div>
                
                
            </div>
 </main>
    </div>
{% endblock %}
