<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillBox</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div class="main-content">
        <img src="img/logo-light.png" alt="Логотип скиллбокс">
        <h1> Прошел все курсы на SkillBox.</h1>
        <div class="exp_1">

            <ul style="display: inline-block;">
                <li>
                    <a href="/kurs_1_list"> <button>Курс №1 программировании </button></a>
                </li>
                <li>
                    <a href="/kurs_2"> <button>Курс №2 веб верстка </button></a>
                </li>
                <li>
                    <a href="/kurs_3"> <button>Курс №3 java </button></a>
                </li>
                <li>
                    <a href="/kurs_4"> <button>Курс №4 djanga </button></a>
                </li>
                <li>
                    <a href="/kurs_5"> <button>Курс №5 SQL </button></a>
                </li>
            </ul>

        </div>
    </div>
</body>

</html>