<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>djanga</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <div class="main-content">
        <img width="600px" height="500px" src="img/kurs_4.png" alt="djanga">
        <h1> Курс №4 djanga </h1>
        <div class="exp_1">
                       
         <h1> 169 000 руб </h1> 
         <p> <a href=""> <button>купить ответы на этот курс </button></a> </p> 
               
         

        </div>
    </div>
</body>

</html>